.warp {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.dipartmentlist {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding:2%;
    margin:1%;
}

.btnstyleDpartmentList {
    float: left;
}
