
.login-form {
    width: 30vw;
    height: 50vh;
}

.body-content {
    height: 65vh;
  
}

footer{
    position: absolute;
    bottom: 0px;

    width: 100vw;
    height: auto
}

.login-tag {
    height: 50px;
    background: rgba(0,0,0,.03);
}

.mail-css {
    text-decoration: none;
}

.mail-css:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 1000px) {
    .login-form {
        width: 280px;
        height: 50vh;
    }
}


.bi-instagram:hover {
    color: #e95950;
}
.bi-facebook:hover {
    color: #1877f2;
}
.bi-linkedin:hover {
    color: #0a66c2;
}