@Styles.Render("~/Content/DepartmentCalender/style.css")
@{
    ViewBag.Title = "Container";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-3">
    <div class="col-xl-10">
        <h1>Wellcome</h1>

    </div>
    <div class="col-xl-2" style="border-left:2px solid black">
        <h1>Notifications</h1>
    </div>
</div>