
@{
    ViewBag.Title = "UnAuthorized";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">UnAuthorized</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-danger"></i> The details of this user are not available to you</h3>

                <p>
                    You have no privileges to view others profiles.
                    Meanwhile, you may <a href="/Home/Index">return to dashboard</a>
                </p>

                
            </div>
        <!-- /.error-page -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
