@model IEnumerable<ProfessorCourse_BestFit.Models.Program>
@{
    ViewBag.Title = "ListPrograms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Programs</h2>

<div class="form-group">
    <label class="col-form-label col-xl-2">Search:</label>
    <div class="col-xl-10">
        <input id="search-weeazer">
    </div>
</div>
<div class="form-group">
    <div class="col-xl-offset-2 col-xl-10">
        <button class="btn btn-default" onclick="location.href='@Url.Action("CreateProgram", "Program")';return false;">Create New</button>
    </div>
</div>
<hr />
<div class="warp">
    @foreach (var item in Model)
    {
        <div class="programlist">
            <h1 class="programname">@item.Name</h1>
            <div class="col-xl-offset-2 col-xl-10">
                <button class="btn btn-warning btnstyleprogramList" onclick="location.href='@Url.Action("ViewDepartmentsInfo", "Department", new { id = item.Dep_Id })';return false;">View Ditails</button>
            </div>
        </div>
    }
</div>



@section Scripts
    {
    <script>
        var $searchBox = $('#search-weeazer');
        var $userDivs = $('.programlist');

        $searchBox.on('input', function () {
            var scope = this;
            if (!scope.value || scope.value == '') {
                $userDivs.show();
                return;
            }

            $userDivs.each(function (i, div) {
                var $div = $(div);
                $div.toggle($div.text().toLowerCase().indexOf(scope.value.toLowerCase()) > -1);
            })
        });
    </script>
}
