@model IEnumerable<ProfessorCourse_BestFit.Models.ViewModels.ProgramViewModel>
@Styles.Render("~/Content/MyStyle.css")
@{
    ViewBag.Title = "ListOfProgram";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin:10px;">All Program</h2>
<div style="display:flex;">
    <div class="col-xl-11" style="margin-left:10px">
        <input id="search-weeazer" placeholder="Search">
    </div>
    <div class="col-xl-offset-2 col-xl-1" style="float:right">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("CreateProgram", "Program")';return false;">Create New</button>
    </div>
</div>
<hr />
<div class="warp">
    @foreach (var item in Model)
    {
        <div class="dipartmentlist">
            <h4 class="Departmentname">@item.Name</h4>
            <div class="col-xl-offset-2 col-xl-10">
                <button class="btn btn-warning btnstyleDpartmentList" onclick="location.href='@Url.Action("viewProgramInfo", "Program", new { id = item.PId })';return false;">View Ditails</button>
            </div>
        </div>
    }
</div>



@section Scripts
    {
    <script>
        var $searchBox = $('#search-weeazer');
        var $motherdiv = $('.dipartmentlist');
        var $userDivs = $('.dipartmentlist');

        $searchBox.on('input', function () {
            var scope = this;
            if (!scope.value || scope.value == '') {
                $userDivs.show();
                return;
            }

            $userDivs.each(function (i, div) {
                var $div = $(div);
                $div.toggle($div.text().toLowerCase().indexOf(scope.value.toLowerCase()) > -1);
            })
        });
    </script>

}
