@model ProfessorCourse_BestFit.Models.ViewModels.ProgramViewModel

@{
    ViewBag.Title = "viewProgramInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>view Program Information</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

<button class="btn btn-primary" onclick="location.href='@Url.Action("EditProgram", "Program", new { id = Model.PId })';return false;">Edit</button>
<button class="btn btn-primary" onclick="location.href='@Url.Action("ListOfProgram", "Program")';return false;">Back</button>
