
    <div class="d-flex align-items-center flex-column flex-lg-row align-items-lg-start justify-content-lg-around" style=" background: rgba(0,0,0,.1); margin-top: 310px;">
        <div style="width:40%;">
            <span class="display-6 text-primary">Professor Course Project</span>
            <p>
                The aim of this project is to find the best professor to a specific course.
                Its all about fitting. Each professor has keywords denotes his experience;
                and each course has keywords denotes the advantage of it or what will be taken and
                knowledge will be gain. The system role is to return list help admin to deteced wich
                course fit this professor and vice versa.
            </p>
        </div>
        <div class="d-flex flex-column">
            <div>
                <span class="display-6 text-primary">Contact Us</span>
                <p>Location: Beirut Lebanon</p>
                <p>
                    <i class="bi bi-telephone"></i>
                    Phone:
                    <span>+961 01 000 111</span>
                </p>
                <p>
                    <i class="bi bi-envelope"></i>
                    E-mail:
                    <a href="mailto:profCourse@gmail.com">profCourse@gmail.com</a>
                </p>
            </div>
            <div>

            </div>
        </div>
        <div>
            <span class="display-6 text-primary">Follow Us</span>


            <div class="d-flex justify-content-around">
                <a href="#" class="mail-css"><i class="bi bi-facebook  facebook-icon"></i></a>



                <a class="mail-css" href="#"><i class="bi bi-linkedin linkedin-icon"></i></a>


                <a class="mail-css" href="#"><i class="bi bi-instagram instagram-icon"></i></a>
            </div>
        </div>
    </div>


